/*Strip the ul of padding and list styling*/
body{
    margin:0;
<<<<<<< HEAD
    font-size:1.1em;
=======
<<<<<<< HEAD
    font-size:1.2em;
=======
    font-size:1.1em;
>>>>>>> Html files change
>>>>>>> 876b37240b10e21e973165567af37617e88e1cab
    color:navy;
}
{
    color:#4682b4;
}
  hr{
      border-top: 1px solid #ccc;
  }
  p{
    text-align:justify;
    font-size:1em ;
}
  .pcenter{
      text-align:center;
      margin-top:-10px ;
}
h1,h2,h3,h4,h5,h6 {
    color:#473C8B;
    margin-bottom:1px;
}
h1{
    font-size:1.8em;
}
h2{
    font-size:1.5em;
}
  p.nb{
      color:#b4b4b4
	font-size:1em;
    line-height:1.1em;
  }
  table{
      color:#473C8B
      font-size:1em;
      text-align:left;
  }
  th{
      color:#473C8B
      padding-left:20px ;
      font-weight:normal;
  }
  ul{
      color:#473C8B;
  }
  * {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.left_column, .right_column {
  float: left;
  width: 50%;
}

.column {
  float: left;
  width: 100%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column1{
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
    .column2{
    width: 100%;
  }
}


/* Normalize the lists */
.menu,
.sub-menu {
  margin: 0;
  padding: 0;
  li {
    margin: 0;
  }
}

/* Baseline for our menu */
.navigation {
  line-height: 1; /* 1 */
  .menu {
    a,
    li {
      display: block; /* 2 */
    }

    a {
      text-decoration: none; /* 3 */
      color: currentColor; /* 4 */
      padding: 1em; /* 5 */
    }

    li {
      border-style: solid; /* 6 */
      border-width: 0 0 1px;
    }
  }
}


