/*Strip the ul of padding and list styling*/
body{
    margin:0;
      font-family:Arial, Helvetica, sans-serif ;
    font-size:1em;
    line-height: 1.4em;
    color:navy;
}
i{
    color:#4682b4;
}
  hr{
      border-top: 1px solid #ccc;
  }
  p{
    text-align:justify;
}
  .pcenter{
      text-align:center;
}
  h1,h2,h3,h4,h5 {
    color:#473C8B
}
  p.nb{
      color:#b4b4b4
	font-size:0.8em;
    line-height:1.1em;
  }
  table{
      color:#473C8B
      font-size:0.9em;
      text-align:left;
  }
  th{
      color:#473C8B
      padding-left:20px ;
  }
  ul{
      color:#473C8B;
  }
  * {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 50%;
}

.column {
  float: left;
  width: 100%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column1{
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
    .column2{
    width: 100%;
  }
}


/* Normalize the lists */
.menu,
.sub-menu {
  margin: 0;
  padding: 0;
  li {
    margin: 0;
  }
}

/* Baseline for our menu */
.navigation {
  line-height: 1; /* 1 */
  .menu {
    a,
    li {
      display: block; /* 2 */
    }

    a {
      text-decoration: none; /* 3 */
      color: currentColor; /* 4 */
      padding: 1em; /* 5 */
    }

    li {
      border-style: solid; /* 6 */
      border-width: 0 0 1px;
    }
  }
}

/* Easy theming */

$menu-color: rgba(white, .75);
$menu-bg: #222;
$menu-item-hover-color: rgba(white, .9);
$menu-item-hover-bg: black;
$menu-item-border-color: lighten($menu-bg, 3%);

.navigation {
  background-color: $menu-bg;
  color: $menu-color;
  .menu {
    li {
      border-color: $menu-item-border-color;
      &:hover,
      &:focus,
      &:active {
        > a {
          color: $menu-item-hover-color;
          background-color: $menu-item-hover-bg;
        }
      }
    }
  }
}

